body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CFC1AF;
}

header {
    background-color: #BDAE9C;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: #BDAE9C;
}

nav a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 18px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 15px;

}

.section1 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-text {
    flex: 1;
    margin-left: 20px;
}

.section ul li .skill-bar {
    background-color: #ddd;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.section ul li .skill-bar-fill {
    background-color: #4caf50;
    height: 100%;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #BDAE9C;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
}